@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

:root {
	--primary-color: #9d174d;
	--dark-grey: #9e9e9e;
	--bg-grey: #e5e5e5;
}

body {
	font-family: "Raleway", sans-serif;
	overflow-x: hidden;
}

img {
	width: 550px;
}

h3 {
	padding-top: 3rem;
}

.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.media {
	list-style: none;
	margin: auto;
	display: inline;
}

.media li {
	display: inline;
	padding: 0rem 3rem;
}

.media li a {
	color: white;
}

.h2-typing {
	color: var(--dark-grey);
	padding-top: 3rem;
	text-align: center;
	margin: auto;
}

.link-primary {
	color: white;
	background-color: var(--primary-color);
	border-radius: 10px;
	border: 2px solid var(--primary-color);
	padding: 15px;
	margin-left: 25%;
}

.link-secondary {
	border: 2px solid var(--primary-color);
	border-radius: 10px;
	padding: 15px;
	color: var(--primary-color);
	margin-left: 25%;
}

.link-secondary:hover {
	text-decoration: underline;
	color: var(--primary-color);
}

.link-primary1 {
	color: white;
	background-color: var(--primary-color);
	border-radius: 10px;
	border: 2px solid var(--primary-color);
	padding: 15px;
}

.link-secondary1 {
	border: 2px solid var(--primary-color);
	border-radius: 10px;
	padding: 15px;
	color: var(--primary-color);
}

.typing-effect {
	animation: type 4s steps(31);
	overflow: hidden;
	white-space: nowrap;
	width: 32ch;
}

.link-active {
	font-weight: bold;
}

.container-centre {
	margin: auto;
	max-width: 50%;
}

small {
	display: block;
	padding-top: 0.5rem;
}

.p-content {
	padding: 1rem 0% 3rem;
	font-size: 120%;
}

code {
	border: 1px solid var(--primary-color);
	color: black;
	padding: 1%;
}

.code {
	margin: 1% 7%;
}

i {
	color: var(--primary-color);
	font-weight: 600;
}
@keyframes type {
	0% {
		width: 0ch;
	}

	100% {
		width: 31ch;
	}
}

@media only screen and (max-width: 600px) {
	img {
		width: 200px;
	}
	.h2-typing {
		font-size: 1.5rem;
	}
}
@media only screen and (min-width: 600px) {
	img {
		width: 200px;
	}
	.h2-typing {
		font-size: 1.5rem;
	}
}
@media only screen and (min-width: 992px) {
	img {
		width: 550px;
	}
	.h2-typing {
		font-size: 3rem;
	}
}
